<!-- Jumbotron Header -->
<header class="jumbotron">
    <h1>Hi {{currentUser.firstname}} {{currentUser.lastname}}!</h1>
    <p class="lead">This is a test web page that could contain your personal information and transactions. Go to settings to change your
        authentication preferences.</p>
    <a class="btn btn-primary btn-lg" href="settings">Settings</a>
</header>

<!-- <h3>All registered users:</h3>
<ul>
<li *ngFor="let user of users">
    {{user.email}} ({{user.lastname}})
    - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
</li>
</ul> -->
